# The following includes necessary imports for our regression and figures illustrating our data and findings.

In [1]:
import statsmodels.api as sm

In [2]:
from statsmodels.iolib.summary2 import summary_col

In [3]:
import matplotlib.pyplot as plt

In [4]:
%matplotlib inline

In [5]:
import pandas as pd

In [6]:
import numpy as np

# The following sections purpose is to access the data for the folloiwng procedures. Data we will access includes the Effective Federal Funds Rate, Personal Savings Rate, and Real Gross Private Investment Data.

In [7]:
# The following code is to access our Personal Savings Rate data. 
#It will be accessed directly from Federal Reserve Economic Data (FRED).

In [12]:
url_savings = 'https://fred.stlouisfed.org/series/PSAVERT/downloaddata/PSAVERT.csv'
data_savings = pd.read_csv(url_savings, parse_dates=True)
data_savings.columns= ['Date','Personal Savings Rate']
data_savings.head()

         Date  Personal Savings Rate
0  1959-01-01                   11.3
1  1959-02-01                   10.6
2  1959-03-01                   10.3
3  1959-04-01                   11.2
4  1959-05-01                   10.6

In [9]:
# The following code is to access our Federal Funds Rate data. 
#It will be accessed directly from Federal Reserve Economic Data (FRED).

In [13]:
url_fed = 'https://fred.stlouisfed.org/series/FEDFUNDS/downloaddata/FEDFUNDS.csv'
data_fed= pd.read_csv(url_fed, parse_dates=True)
data_fed.columns=['Date', 'Federal Funds Rate']
data_fed.head()

         Date  Federal Funds Rate
0  1954-07-01                0.80
1  1954-08-01                1.22
2  1954-09-01                1.07
3  1954-10-01                0.85
4  1954-11-01                0.83

In [14]:
# The following code is to access our Real Gross Private Investment data. 
#It will be accessed directly from Federal Reserve Economic Data (FRED).

In [16]:
url_rgdp = 'https://fred.stlouisfed.org/series/GPDIC1/downloaddata/GPDIC1.csv'
data_rgdp = pd.read_csv(url_rgdp, parse_dates=True)
data_rgdp.columns=['Date', 'Real Gross Private Investment']
data_rgdp.head()

         Date  Real Gross Private Investment
0  1947-01-01                        218.091
1  1947-04-01                        201.386
2  1947-07-01                        195.461
3  1947-10-01                        233.284
4  1948-01-01                        257.220